# Node modules
node_modules/
package-lock.json

# Build output
dist/

# TypeScript cache
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS & Editor directories/files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Environment variables
.env
